.apps {
  width: 100%;
  min-height: 270px;
  padding: 25px 20px;
  padding-bottom: 20px;
  background: #1d2631;
  color: $base-white;
  @include tablet {
    padding: 0;
    position: absolute;
    width: 300px;
    top: 95px;
    left: 0;
    background: transparent;
  }
  @include desktop {
    top: 220px;
    left: 0;
  }
  &__heading {
    display: none;
    max-width: 200px;
    margin: 0 auto;
    padding-bottom: 40px;
    font-size: 40px;
    line-height: 46px;
    font-weight: $light;
    text-align: center;
    @include tablet {
      display: block;
      padding-bottom: 30px;
    }
    @include desktop {
      max-width: 235px;
      padding-bottom: 50px;
      font-size: 50px;
      line-height: 60px;
    }
  }
  &__btn{
    display: block;
    max-width: 280px;
    margin: 0 auto;
    padding: 15px 35px;
    font-weight: $bold;
    line-height: $base-line-height;
    text-align: center;
    text-decoration: none;
    color: $base-white;
    border: 3px solid $base-white;
    border-radius: 50px;
    box-sizing: initial;
    @include base-transition(all);
    &:hover {
      background: $base-white;
      color: $base-pink;
    }
    &:active {
      color: #f2ced5;
    }
    @include tablet {
      max-width: 300px;
      box-sizing: border-box;
    }
    @include desktop {
      padding: 12px 30px;
      font-size: 20px;
    }
  }
  &__items {
    max-width: 210px;
    margin: 25px auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    list-style: none;
    @include tablet {
      margin-top: 40px;
      margin-bottom: 35px;
    }
    @include desktop {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }
  &__item-link {
    display: block;
    width: 50px;
    height: 50px;

    &--ios {
      height: 61px;
      background: url('#{$img-path}/logo-apple.svg');
      background-repeat: no-repeat;
      background-size: 100%;
    }

    &--andr {
      height: 55px;
      background: url('#{$img-path}/logo-android.svg');
      background-repeat: no-repeat;
      background-size: 100%;
    }

    &--win {
      height: 47px;
      background: url('#{$img-path}/logo-microsoft.svg');
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
  &__text {
    display: block;
    margin: 0 auto;
    font-size: $base-p-size;
    text-align: center;
    @include tablet {
      font-size: 18px;
      font-weight: $light;
    }
  }
}
