.apps {
  width: 100%;
  min-height: 270px;
  padding: 25px 20px;
  padding-bottom: 20px;
  background: #1d2631;
  color: $base-white;
  @include tablet {
    padding: 0;
    position: absolute;
    width: 300px;
    top: 92px;
    left: 0;
    background: transparent;
  }
  @include desktop {
    top: 220px;
    left: 0;
  }
  &__heading {
    display: none;
    max-width: 200px;
    margin: 0 auto;
    padding-bottom: 40px;
    font-size: 40px;
    line-height: 46px;
    font-weight: $light;
    text-align: center;
    @include tablet {
      display: block;
      padding-bottom: 32px;
      line-height: 47px;
    }
    @include desktop {
      max-width: 235px;
      padding-bottom: 50px;
      font-size: 50px;
      line-height: 60px;
    }
  }
  &__btn{
    display: block;
    max-width: 280px;
    margin: 0 auto;
    padding: 14px 35px;
    font-weight: $bold;
    line-height: $base-line-height;
    text-align: center;
    text-decoration: none;
    color: $base-white;
    border: 3px solid $base-white;
    border-radius: 50px;
    box-sizing: initial;
    @include base-transition(all);
    &:hover {
      background: $base-white;
      color: $base-pink;
    }
    &:active {
      color: #f2ced5;
    }
    @include tablet {
      max-width: 300px;
      box-sizing: border-box;
      line-height: 23px;
    }
    @include desktop {
      padding: 13px 28px;
      font-size: 21px;
    }
  }
  &__items {
    max-width: 206px;
    margin: 25px auto;
    margin-top: 27px;
    margin-bottom: 24px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    list-style: none;
    @include tablet {
      margin-top: 42px;
      margin-bottom: 35px;
    }
    @include desktop {
      margin-top: 63px;
      margin-bottom: 57px;
    }
  }
  &__item-link {
    display: block;
    width: 50px;
    height: 50px;

    &--ios {
      width: 47px;
      height: 58px;
      background: url("#{$img-path}/logo-apple.svg") no-repeat;
      background-size: 100%;
    }

    &--andr {
      width: 43px;
      height: 48px;
      background: url("#{$img-path}/logo-android.svg") no-repeat;
      background-size: 100%;
    }

    &--win {
      width: 44px;
      height: 41px;
      background: url("#{$img-path}/logo-microsoft.svg") no-repeat;
      background-size: 100%;
    }
  }
  &__text {
    display: block;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    @include tablet {
      font-size: 18px;
      font-weight: $light;
    }
    @include desktop {
      letter-spacing: -0.3px;

    }
  }
}
