.apps {
  width: 100%;
  min-height: 300px;
  padding: 25px 20px;
  padding-bottom: 40px;
  background: #1d2631;
  color: $base-white;
  @include tablet {
    padding: 0;
    position: absolute;
    width: 300px;
    top: 100px;
    left: 0;
    background: transparent;
  }
  @include desktop {
    top: 240px;
    left: 130px;
  }
  &__heading {
    display: none;
    max-width: 200px;
    margin: 0 auto;
    padding-bottom: 40px;
    font-size: 40px;
    line-height: 50px;
    font-weight: $light;
    text-align: center;
    @include tablet {
      display: block;
    }
  }
  &__btn{
    display: block;
    max-width: 280px;
    margin: 0 auto;
    padding: 20px 35px;
    font-weight: $bold;
    line-height: $base-line-height;
    text-align: center;
    text-decoration: none;
    color: $base-white;
    border: 3px solid $base-white;
    border-radius: 50px;
    box-sizing: initial;
    @include base-transition(all);
    &:hover {
      background: $base-white;
      color: $base-pink;
    }
    &:active {
      color: #f2ced5;
    }
    @include tablet {
      max-width: 300px;
      box-sizing: border-box;
    }
  }
  &__items {
    max-width: 280px;
    margin: 25px auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    list-style: none;
    @include tablet {
      justify-content: space-around;
    }
  }
  &__item-link {
    display: block;
    width: 50px;
    height: 50px;

    &--ios {
      height: 61px;
      background: url('#{$img-path}/logo-apple.svg');
      background-repeat: no-repeat;
      background-size: 100%;
    }

    &--andr {
      height: 55px;
      background: url('#{$img-path}/logo-android.svg');
      background-repeat: no-repeat;
      background-size: 100%;
    }

    &--win {
      height: 47px;
      background: url('#{$img-path}/logo-microsoft.svg');
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
  &__text {
    display: block;
    margin: 0 auto;
    font-size: $base-p-size;
    text-align: center;
  }
}
