.benefits {
  &__header {
    padding: 40px;
  }
  &__heading {
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: $base-h-size;
    line-height: $max-line-height;
    text-align: center;
    &:last-child {
      padding-bottom: 0;
    }
  }
  &__items {
    padding: 40px;
    text-align: center;
    background: $base-gray;
    position: relative;
    overflow: hidden;
    @include tablet {
      min-height: 490px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
    }
    &::after {
      display: block;
      margin-left: -80px;
      content: '';
      position: absolute;
      width: 160px;
      height: 320px;
      bottom: -45px;
      left: 50%;
      background: url('#{$img-path}/iphone-screen-mobile@1x.png');
      background-repeat: no-repeat;
      background-size: 100%;
      @include tablet {
        width: 265px;
        height: 470px;
        margin: 0;
        left: 40px;
        bottom: -25px;
      }
    }
  }
  &__item {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 270px;
      @include tablet {
        padding-bottom: 0;
      }
    }
    @include tablet {
      width: 50%;
    }
  }
  &__item-heading {
    margin: 0;
    margin-bottom: 20px;
    font-weight: $bold;
    color: $base-black;
  }
  &__item-text {
    margin: 0;
    font-size: $base-p-size;
  }
  &__full-width {
    display: none;
    padding: 100px 40px;
    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
    }
    &-item {
      max-width: 310px;
      @include desktop {
        max-width: 540px;
      }
    }
  }
}
