.contest {
  padding-top: 45px;
  position: relative;
  @include tablet {
    padding-top: 90px;
  }
  &__wrapper {
    width: 100%;
    position: relative;
    @include tablet {
      margin: 0 auto;
      width: 620px;
    }
    @include desktop {
      width: 940px;
    }

  }
  &__block {
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
    padding-bottom: 0;
    @include tablet {
      padding: 0 60px;
    }
    @include desktop {
      padding: 0 90px;
    }
    &--note {
      @include tablet {
        padding: 0;
        position: absolute;
        right: 0;
        bottom: 65px;
      }
      @include desktop {
        bottom: 20px;
      }
    }
  }
  &__block-txt {
    margin: 0;
    font-size: $base-p-size;
    line-height: $big-line-height;
    @include tablet {
      font-size: $base-font-size;
      line-height: $big-line-height;
    }
    &--hidden {
      display: none;
      @include tablet {
        display: inline-block;
      }
    }
    &--desktop-only {
      display: none;
      @include desktop {
        display: inline-block;
      }
    }
    &--required {
      text-transform: uppercase;
      @include tablet {
        font-size: $base-p-size;
      }
    }
    &--colored {
      color: $base-pink;
    }
  }
}
