.contacts {
  padding: 40px;
  text-align: center;
  &__heading {
    margin: 0;
    margin-bottom: 40px;
    font-size: $base-h-size;
    font-weight: $light;
    line-height: $max-line-height;
  }
  &__item {
    margin-bottom: 25px;
  }
  &__item-title {
    display: block;
    padding: 10px 0;
    font-weight: $bold;
  }
  &__item-text {
    display: block;
    font-size: $base-h-size;
    font-weight: $light;
    color: $base-pink;
  }
}
