.contest-form {
  margin: 0;
    @include tablet {
      padding-top: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 0;
    }
    @include desktop {
      padding-top: 80px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: space-between;
    }
    &__comment-subheading,
    &__subheading {
      margin: 0 auto;
      margin-bottom: 45px;
      padding: 0;
      font-size: $base-p-size;
      line-height: 18px;
      font-weight: $regular;
      text-align: center;
      color: $base-pink;
      text-transform: uppercase;
      @include tablet {
        max-width: 420px;
        padding: 0 20px;
        background: $base-white;
        position: absolute;
        top: -10px;
        right: 0;
        left: 0;
        text-align: center;
      }
      @include desktop {
        max-width: 430px;
      }
    }
    &__subheading {
      &--mobile-hidden {
        display: none;
        @include tablet {
          display: block;
          max-width: 260px;
        }
      }
    }
    &__comment-subheading {
      margin-bottom: 20px;
      @include tablet {
        max-width: 260px;
        margin-bottom: 40px;
      }
    }
    &__submit {
      display: block;
      min-width: 280px;
      margin: 0 auto;
      padding: 20px 40px;
      background: #2aab6d;
      color: #fff;
      text-transform: uppercase;
      border-radius: 3px;
      outline: none;
      @include tablet {
        margin: 0;
        padding-right: 60px;
        padding-left: 60px;
      }
      &:hover {
        background: #1c9b5e;
      }
      &:active {
        color: #7dbd99;
      }
      &:disabled {
        background: #e5e5e5;
      }
    }
}
