.footer {
  &__wrapper {
    display: none;
    margin: 0 auto;
    align-items: center;
    @include tablet {
      display: flex;
      padding: 39px 0;
      width: 620px;
    }
    @include desktop {
      width: 940px;
      padding-top: 70px;
      padding-bottom: 70px;
    }
  }
  &__wrapper-inner {
    @include less-tablet {
      padding: 40px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @include desktop {
      padding-top: 70px;
      padding-bottom: 70px;
    }
    &.footer__wrapper--form {
      @include less-tablet {
        padding: 52px 0;
      }
    }
  }
  &__logo {
    width: 147px;
    height: 40px;
    margin: 0 auto;
    @include tablet {
      margin: 0;
      margin-right: 75px;
      align-self: stretch;
    }
    @include desktop {
      margin-right: 238px;
    }
    &:hover .letters {
      fill: $base-pink;
      @include base-transition(fill);
    }
    &:active .letters {
      fill: #bec2c7;
      @include base-transition(fill);
    }
    &:active path {
      @include base-transition(fill);
      opacity: .3;
    }
    & .logo-decoration {
      display: none;
      @include desktop {
        display: block;
      }
    }
  }
  &__copyright {
    width: 128px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: $base-dark-blue;
    &:hover path {
      fill: $base-dark-blue;
      @include base-transition(fill);
    }
    &:active path {
      fill: #bec2c7;
      @include base-transition(fill);
    }
    @include tablet {
      margin: 0;
      align-self: stretch;
    }
    @include desktop {
      width: 152px;
    }
  }
  &__copyright-txt {
    display: block;
    margin-right: 13px;
    font-size: $base-p-size;
    @include desktop {
      margin-right: 10px;
      font-size: $base-font-size;
    }
  }
  &__copyright-svg {
    width: 28px;
  }
  &__social-inner {
    width: 178px;
  }
}
