.footer {
  &__wrapper {
    display: none;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    @include tablet {
      display: flex;
      padding: 35px 0;
      max-width: 620px;
    }
    @include desktop {
      max-width: 940px;
      padding-top: 67px;
      padding-bottom: 60px;
    }
  }
  &__wrapper-inner {
    @include less-tablet {
      padding: 40px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @include desktop {
      padding-top: 95px;
    }
  }
  &__logo {
    width: 150px;
    margin: 0 auto;
    @include tablet {
      margin: 0;
    }
    &:hover .letters {
      fill: $base-pink;
      @include base-transition(fill);
    }
    &:active .letters {
      fill: #bec2c7;
      @include base-transition(fill);
    }
    &:active path {
      @include base-transition(fill);
      opacity: .3;
    }
  }
  &__copyright {
    width: 130px;
    max-width: 130px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: $base-dark-blue;
    @include base-transition(fill);
    &:hover path {
      fill: $base-dark-blue;
    }
    &:active path {
      fill: #bec2c7;
    }
    @include tablet {
      margin: 0;
    }
    @include desktop {
      width: 150px;
      max-width: 150px;
    }
  }
  &__copyright-txt {
    display: block;
    margin-right: 20px;
    font-size: $base-p-size;
    @include desktop {
      margin-right: 10px;
      font-size: $base-font-size;
    }
  }
  &__copyright-svg {
    max-width: 28px;
  }
}
