input[type="text"],
textarea {
  font-family: $base-font, 'Helvetica', Arial, sans-serif;
  line-height: $big-line-height;
  color: $base-dark-blue;
  outline: none;
}

label {
  display: block;
  padding-left: 20px;
  padding-bottom: 5px;
  font-size: $base-p-size;
  color: $base-pink;
  text-transform: uppercase;
  @include tablet {
    padding-left: 0;
    padding-right: 20px;
  }
}

.form {
  padding: 0;
  @include tablet {
    padding-top: 80px;
  }
  &__fieldset {
    margin: 0;
    padding: 40px 20px;
    position: relative;
    border: none;
    &:last-child {
      margin-bottom: 0;
      @include tablet {
        margin-bottom: 50px;
      }
      @include desktop {
        margin-bottom: 0;
      }
    }
    @include tablet {
      padding: 50px 60px;
      margin-bottom: 80px;
      border: 2px solid #e5e5e5;
      border-radius: 5px;
      &--main,
      &--submit {
        padding: 0;
        border: none;
      }
    }
    &--actions,
    &--app {
      background: $base-gray;
      @include tablet {
        background: $base-white;
        margin-bottom: 65px;
      }
    }
    &--main {
      padding-bottom: 45px;
      @include tablet {
        order: 1;
        margin-bottom: 20px;
        padding: 0;
      }
      @include desktop {
        width: 46%;
      }
    }
    &--app {
      padding-bottom: 45px;
      @include tablet {
        order: 2;
        padding-top: 55px;
        padding-bottom: 65px;
      }
      @include desktop {
        margin-bottom: 70px;
        padding-top: 60px;
        padding-right: 70px;
        padding-bottom: 60px;
        padding-left: 70px;
        width: 46%;
      }
      & .form__subheading {
        @include desktop {
          max-width: 360px;
        }
      }
    }
    &--contacts {
      @include tablet {
        order: 3;
        padding-bottom: 30px;
        margin-bottom: 65px;
      }
      @include desktop {
        padding-top: 35px;
        padding-right: 60px;
        padding-bottom: 20px;
        padding-left: 60px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      & .form__subheading {
        @include desktop {
          max-width: 280px;
        }
      }
    }
    &--actions {
      @include tablet {
        order: 4;
        padding-top: 60px;
        padding-bottom: 50px;
      }
      @include desktop {
        width: 100%;
        padding-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      & .form__subheading {
        @include desktop {
          max-width: 430px;
        }
      }
    }
    &--comment {
      padding-top: 35px;
      padding-bottom: 0;
      @include tablet {
        order: 5;
        margin-bottom: 60px;
        padding-top: 45px;
        padding-bottom: 45px;
      }
      @include desktop {
        margin-bottom: 60px;
        width: 100%;
      }
      & .form__subheading {
        @include desktop {
          max-width: 260px;
        }
      }
    }
    &--submit {
      padding-top: 50px;
      padding-bottom: 45px;
      @include tablet {
        padding-bottom: 5px;
        order: 6;
      }
      @include desktop {
        width: 100%;
      }
    }
  }
  &__fields-wrapper {
    margin-bottom: 20px;
    position: relative;
    &:last-child {
      margin-bottom: 0;
    }
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
      &:last-child {
        margin-bottom: 50px;
      }
    }
    @include desktop {
      margin-bottom: 55px;
    }
    &--contact {
      @include tablet {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      @include desktop {
        align-items: flex-start;
        width: 46%;
      }
      & label {
        @include tablet {
          padding: 0;
          padding-top: 10px;
          padding-left: 20px;
        }
      }
    }
    &--tel {
      @include desktop {
        margin-bottom: 0;
      }
    }
    &--email::after,
    &--tel::after {
      width: 60px;
      height: 60px;
      display: none;
      content: '';
      position: absolute;
      top: 2px;
      right: 2px;
      background: #e5e5e5;
      background-repeat: no-repeat;
      @include tablet {
        display: block;
      }
    }
    &--email::before,
    &--tel::before {
      width: 20px;
      height: 20px;
      display: none;
      content: '';
      position: absolute;
      top: 18px;
      right: 20px;
      z-index: 1;
      background-image: url('#{$img-path}/icon-phone.svg');
      background-repeat: no-repeat;
      @include tablet {
        display: block;
      }
    }
    &--email::before {
      height: 13px;
      top: 25px;
      right: 18px;
      background-image: url('#{$img-path}/icon-mail.svg');
      background-repeat: no-repeat;
    }
  }
  &__textarea,
  &__text-field {
    width: 100%;
    padding: 15px 20px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    @include base-transition(border);
    &::placeholder {
      color: $base-dark-blue;
      line-height: $big-line-height;
    }
    &:hover {
      border: 2px solid $base-dark-blue;
    }
    &:focus {
      border: 2px solid $base-pink;
    }
  }
  &__textarea {
    min-height: 195px;
    resize: none;
    @include desktop {
      min-height: 120px;
    }
  }
  &__radio,
  &__checkbox {
    display: none;
    & + label:hover::before {
      border: 2px solid $base-dark-blue;
    }
    & + label:active::before {
      border: 2px solid $base-pink;
    }
  }
  &__radio-label,
  &__checkbox-label {
    width: 280px;
    padding-bottom: 0;
    padding-left: 70px;
    margin-bottom: 60px;
    text-transform: initial;
    font-size: $base-font-size;
    color: $base-dark-blue;
    position: relative;
    cursor: pointer;
    @include base-transition(border);
    @include tablet {
      width: auto;
    }
  }
  &__radio-label {
    margin-bottom: 50px;
    @include tablet {
      padding-left: 60px;
    }
  }
  &__checkbox-label {
    @include tablet {
      padding-left: 60px;
    }
    @include desktop {
      width: 33.33%;
      padding-right: 0;
    }
  }
  &__radio + label::before,
  &__checkbox + label::before {
    display: block;
    width: 36px;
    height: 36px;
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -20px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    background: $base-white;
    cursor: pointer;
    @include base-transition(border);
  }
  &__radio + label::before {
    border-radius: 50%;
  }
  &__radio:checked + label::after {
    width: 16px;
    height: 16px;
    content: '';
    display: block;
    position: absolute;
    background: $base-pink;
    left: 12px;
    top: 4px;
    border-radius: 50%;
  }
  &__checkbox:checked + label::after {
    width: 16px;
    height: 8px;
    transform: rotate(-45deg);
    content: '';
    display: block;
    position: absolute;
    background: transparent;
    border-left: 2px solid $base-pink;
    border-bottom: 2px solid $base-pink;
    left: 12px;
    top: 6px;
  }
  &__radio-label {
    &--win {
      margin-bottom: 0;
    }
  }
  &__checkbox-label {
    &--shark {
      @include desktop {
        order: 1;
      }
    }
    &--chuck {
      @include desktop {
        order: 2;
      }
    }
    &--tower {
      @include desktop {
        order: 3;
      }
    }
    &--burnt {
      @include desktop {
        order: 4;
      }
    }
    &--souvenir {
      @include desktop {
        order: 5;
      }
    }
    &--hotel {
      margin-bottom: 0;
      @include tablet {
        margin-bottom: 0;
      }
      @include desktop {
        margin-bottom: 60px;
        order: 6;
      }
    }
  }
  &__submit {
    cursor: pointer;
    border: none;
  }
}
