label {
  display: block;
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: $base-p-size;
  color: $base-pink;
  text-transform: uppercase;
  @include tablet {
    padding-left: 0;
    padding-right: 20px;
  }
  @include desktop {
    padding-left: 0;
    padding-right: 20px;
  }
}

.form {
  @include tablet {
    padding: 80px 40px;
    padding-bottom: 0;
  }
  @include desktop {
    padding: 80px 130px;
    padding-bottom: 0;
  }
  &__fieldset {
    margin: 0;
    padding: 40px 20px;
    position: relative;
    border: none;
    &:last-child {
      margin-bottom: 0;
      @include tablet {
        margin-bottom: 60px;
      }
      @include desktop {
        margin-bottom: 60px;
      }
    }
    @include tablet {
      padding: 50px 60px;
      margin-bottom: 80px;
      border: 2px solid #e5e5e5;
      border-radius: 5px;
      &--main,
      &--submit {
        padding: 0;
        border: none;
      }
    }
    @include desktop {
      padding: 50px 60px;
      margin-bottom: 80px;
      border: 2px solid #e5e5e5;
      border-radius: 5px;
      &--main,
      &--submit {
        padding: 0;
        border: none;
      }
    }
    &--actions,
    &--app, {
      background: $base-gray;
      @include tablet {
        background: $base-white;
      }
      @include desktop {
        background: $base-white;
      }
    }
    &--main {
      @include tablet {
        order: 1;
      }
      @include desktop {
        order: 1;
        width: 45%;
      }
    }
    &--app {
      @include tablet {
        order: 2;
      }
      @include desktop {
        order: 2;
        width: 45%;
      }
    }
    &--contacts {
      @include tablet {
        order: 3;
      }
      @include desktop {
        order: 3;
        width: 100%;
        display: flex;
        flex-direction: row;
      }
    }
    &--actions {
      @include tablet {
        order: 4;
      }
      @include desktop {
        order: 4;
        width: 100%;
      }
    }
    &--comment {
      @include tablet {
        order: 5;
      }
      @include desktop {
        order: 5;
        width: 100%;
      }
    }
    &--submit {
      @include tablet {
        order: 6;
      }
      @include desktop {
        order: 6;
        width: 100%;
      }
    }
  }
  &__fields-wrapper {
    margin-bottom: 20px;
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
    }
    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &--contact {
      @include tablet {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
      }
      @include desktop {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        width: 40%;
      }
      & label {
        @include tablet {
          padding: 0;
          padding-top: 10px;
          padding-left: 20px;
        }
        @include desktop {
          padding: 0;
          padding-top: 10px;
          padding-left: 20px;
        }
      }
    }
  }
  &__textarea,
  &__text-field {
    width: 100%;
    padding: 20px;
    border: 2px solid #e5e5e5;
    &::placeholder {
      color: $base-dark-blue;
      line-height: $big-line-height;
    }
  }
  &__textarea {
    min-height: 200px;
    resize: none;
  }
  &__radio,
  &__checkbox {
    display: none;
  }
  &__radio + label,
  &__checkbox + label {
    padding-bottom: 0;
    padding-left: 60px;
    margin-bottom: 40px;
    text-transform: initial;
    font-size: $base-font-size;
    color: $base-dark-blue;
    position: relative;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__radio + label::before,
  &__checkbox + label::before {
    display: block;
    width: 36px;
    height: 36px;
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -20px;
    border: 2px solid #e5e5e5;
    background: $base-white;
    cursor: pointer;
  }
  &__radio + label::before {
    border-radius: 50%;
  }
  &__radio:checked + label::after {
    width: 16px;
    height: 16px;
    content: '';
    display: block;
    position: absolute;
    background: $base-pink;
    left: 12px;
    top: 4px;
    border-radius: 50%;
  }
  &__checkbox:checked + label::after {
    width: 16px;
    height: 8px;
    transform: rotate(-45deg);
    content: '';
    display: block;
    position: absolute;
    background: transparent;
    border-left: 2px solid $base-pink;
    border-bottom: 2px solid $base-pink;
    left: 12px;
    top: 6px;
  }
  &__submit {
    cursor: pointer;
    border: none;
  }
}
