.hamburger-menu {
  padding: 25px;
  float: right;
  @include tablet {
    padding: 40px;
    padding-top: 45px;
  }
  @include desktop {
    display: none;
    float: none;
  }
  &__btn {
    display: block;
    width: 24px;
    height: 24px;
    background: url('#{$img-path}/icon-menu-cross.svg');
  }
}
