.hamburger-menu {
  display: block;
  padding: 25px 20px;
  float: right;
  &__btn {
    display: block;
    width: 24px;
    height: 24px;
    background: url('#{$img-path}/icon-menu-cross.svg');
  }
}

