.hamburger-menu {
  display: block;
  padding: 25px 20px;
  float: right;
}

.hamburger-menu__btn {
  display: block;
  width: 24px;
  height: 24px;
  background: url('../img/icon-menu-cross.svg');
}
