.header {
  background: $base-dark-blue;
  @include desktop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background: $base-black;
    background: rgba(0,0,0,0.6);
  }
  &__wrapper {
    @include clearfix;
    @include desktop {
      width: 940px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
