.like {
  &__icon {
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    height: 13px;
    margin-right: 20px;
    background: url('#{$img-path}/icon-heart.svg');
    background-repeat: no-repeat;
  }
  &__counter {
    display: inline-block;
    vertical-align: middle;
  }
}
