.like {
  padding: 20px;
  padding-top: 0;
  font-size: $base-p-size;
  color: $base-pink;
  @include tablet {
    padding-bottom: 23px;
    padding-right: 28px;
    padding-left: 28px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  &--full-width {
    padding: 0;
    @include tablet {
      padding: 0;
      order: 2;
      width: 120px;
    }
  }
  &__icon {
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    margin-right: 13px;
    background: url("#{$img-path}/icon-heart.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    @include tablet {
      margin-right: 0;
    }
  }
  &__counter {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    text-transform: uppercase;
  }
}
