.main-menu {
  padding-top: 75px;
  @include tablet {
    padding-top: 109px;
  }
  & li {
    list-style: none;
  }
  @include desktop {
    padding-top: 0;
  }
  &__items {
    margin: 0;
    padding: 0;
    border-top: 1px solid $base-black;
    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: none;
    }
  }
  &__item-link {
    display: block;
    padding: 25px;
    border-top: 1px solid #485461;
    border-bottom: 1px solid #000000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: $base-white;
    @include desktop {
      border: none;
      text-transform: initial;
    }
  }
}
