@mixin clearfix {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

@mixin retina($image, $size) {
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url($image);
    background-size: $size;
  }
}

@mixin base-transition($property) {
  transition: $property .2s ease-out;
}

@mixin mobile {
  @media (min-width: #{$mobile-width}) {
    @content;
  }
}

@mixin less-tablet {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
