.photo-item {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  background: $base-gray;
  @include tablet {
    width: 300px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
  }
  &--full-width {
    width: 100%;
    background: $base-white;
    @include tablet {
      max-width: 100%;
    }
    & .photo-item__description--full-width {
      background: $base-gray;
      @include tablet {
        margin: 0 auto;
        max-width: 620px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @include desktop {
          max-width: 940px;
        }
      }
      & .photo-item__username {
        order: 1;
        width: 50%;
      }
      & .photo-item__quote {
        order: 3;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        @include tablet {
          margin-top: 10px;
          margin-bottom: 0;
        }
      }
    }
    & .photo-item__img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
  &__pic {
    max-width: 320px;
    margin: 0 auto;
    position: relative;
    line-height: 0;
    @include tablet {
      max-width: 700px;
    }
    @include desktop {
      max-width: 940px;
    }
  }
  &__label {
    display: block;
    max-width: 140px;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 12px;
    line-height: $base-line-height;
    color: $base-white;
    background: $base-pink;
    text-transform: uppercase;
    @include tablet {
      top: 55px;
      right: 40px;
    }
  }
  &__img {
    max-width: 100%;
    height: auto;
  }
  &__description {
    max-width: 280px;
    margin: 0 auto;
    padding: 20px;
    font-size: $base-p-size;
    @include tablet {
      max-width: 100%;
      margin: 0;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
  }
  &__username {
    font-weight: $bold;
  }
  &__time {
    text-transform: uppercase;
  }
  &__quote {
    margin-bottom: 20px;
  }
}
