.photos {
  &__content-block {
    padding: 50px;
    font-size: $base-p-size;
    line-height: $big-line-height;
    text-align: center;
  }
  &__upload-section {
    padding: 20px;
    background: $base-gray;
  }
}
