.photo-item {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  background: $base-gray;
  @include tablet {
    width: 300px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
  }
  @include desktop {
    margin-bottom: 44px;
  }
  &--full-width {
    width: 100%;
    background: $base-white;
    @include tablet {
      width: 700px;
    }
    @include desktop {
      width: 1200px;
      margin-bottom: 40px;
    }
    & .photo-item__description--full-width {
      background: $base-gray;
      padding-bottom: 20px;
      @include tablet {
        margin: 0 auto;
        width: 620px;
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 28px;
        padding-right: 28px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @include desktop {
          width: 940px;
          padding-top: 23px;
          padding-bottom: 23px;
        }
      }
      & .photo-item__username {
        order: 1;
        font-size: 13px;
      }
      & .photo-item__time {
        font-weight: $light;
      }
      & .photo-item__quote {
        order: 3;
        width: 100%;
        margin-bottom: 10px;
        @include tablet {
          margin: 0;
          line-height: $base-line-height;
        }
      }
    }
    & .photo-item__img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
  &__pic {
    max-width: 320px;
    margin: 0 auto;
    position: relative;
    line-height: 0;
    @include tablet {
      max-width: 700px;
    }
    @include desktop {
      max-width: 1200px;
    }
  }
  &__label {
    display: block;
    max-width: 140px;
    padding: 6px 21px;
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 12px;
    line-height: $base-line-height;
    color: $base-white;
    background: $base-pink;
    text-transform: uppercase;
    @include tablet {
      top: 55px;
      right: 40px;
    }
    @include desktop {
      top: 52px;
      right: 130px;
    }
  }
  &__img {
    max-width: 100%;
    height: auto;
  }
  &__description {
    max-width: 280px;
    margin: 0 auto;
    padding: 18px;
    padding-bottom: 9px;
    font-size: $base-p-size;
    @include tablet {
      max-width: 100%;
      margin: 0;
      padding-top: 24px;
      padding-right: 28px;
      padding-left: 28px;
      padding-bottom: 12px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
  }
  &__username {
    font-weight: $bold;
  }
  &__time {
    font-size: 13px;
    font-weight: $light;
    text-transform: uppercase;
  }
  &__quote {
    margin-bottom: 0;
  }
  &--last {
    margin-bottom: 0;
    & .photo-item__description {
      padding-top: 20px;
      padding-bottom: 10px;
      @include tablet {
        padding-top: 24px;
        padding-bottom: 36px;
      }
    }
  }
}
