.prices {
  background: $base-gray;
  padding-top: 80px;
  padding-bottom: 100px;
  overflow: hidden;
  position: relative;
  &__slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    @include base-transition(all);
    @include tablet {
      max-width: 620px;
      margin: 0 auto;
    }
    & .slider__item {
      display: block;
      flex-shrink: 0;
      width: 100%;
      max-width: 280px;
      border-right: 1px solid $base-gray;
      @include tablet {
        max-width: 155px;
      }
      @include desktop {
        max-width: 235px;
      }
      &:first-child {
        display: none;
        @include tablet {
          display: block;
        }
      }
    }
  }
  &__controls {
    bottom: 50px;
    @include tablet {
      display: none;
    }
  }
  &__item-header {
    position: relative;
    padding: 25px 0;
    line-height: $big-line-height;
    color: $base-white;
    background: $base-dark-blue;
    text-align: center;
    text-transform: uppercase;
    @include tablet {
      border-right: 1px solid $base-gray;
    }
    &--hit::after {
      display: block;
      content: '';
      position: absolute;
      width: 70px;
      height: 70px;
      top: 0;
      background: url('#{$img-path}/bg-hit-tablet.svg');
      background-repeat: no-repeat;
    }
    &--hit::before {
      display: block;
      content: 'ХИТ';
      position: absolute;
      z-index: 1;
      transform: rotate(-45deg);
      top: 5px;
      left: 3px;
    }
  }
  &__item-usd {
    font-weight: $light;
  }
  &__item-feature,
  &__item-feature--tablet {
    min-height: 60px;
    position: relative;
    padding: 18px;
    line-height: $base-line-height;
    border-bottom: 2px solid $base-gray;
    text-transform: uppercase;
    background: $base-white;
    @include tablet {
      height: 45px;
      line-height: $big-line-height;
      border-right: 1px solid $base-gray;
    }
  }
  &__item-feature {
    &--included::after,
    &::after {
      display: block;
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      top: 50%;
      right: 20px;
      margin-top: -15px;
      background: url('#{$img-path}/icon-no.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 50%;
      @include tablet {
        right: 50%;
        margin-right: -15px;
      }
    }
    &--included::after {
      background: url('#{$img-path}/icon-yes.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 50%;
    }
    &--tablet {
      text-transform: initial;
      font-size: $base-p-size;
    }
    &--tablet::after {
      display: none;
    }
  }
  &__feature-title {
    @include tablet {
      display: none;
    }
  }
}

#price-1:checked ~ .prices__slider {
  @include less-tablet {
    transform: translateX(280px);
  }
}
#price-3:checked ~ .prices__slider {
  @include less-tablet {
    transform: translateX(-280px);
  }
}

#price-1:checked ~ .slider__controls label:nth-child(1),
#price-2:checked ~ .slider__controls label:nth-child(2),
#price-3:checked ~ .slider__controls label:nth-child(3) {
    width: 12px;
    height: 12px;
    background: $base-white;
    border: 3px solid $base-dark-blue;
}
