.prices {
  background: $base-gray;
  padding: 40px 0;
  &__item {
    margin: 0 auto;
    max-width: 280px;
  }
  &__item-header {
    position: relative;
    padding: 25px 0;
    line-height: $big-line-height;
    color: $base-white;
    background: $base-dark-blue;
    text-align: center;
    text-transform: uppercase;
    &--hit::after {
      display: block;
      content: '';
      position: absolute;
      width: 70px;
      height: 70px;
      top: 0;
      background: url('#{$img-path}/bg-hit-tablet.svg');
      background-repeat: no-repeat;
    }
  }
  &__item-usd {
    font-weight: $light;
  }
  &__item-feature {
    position: relative;
    padding: 20px;
    padding-right: 50px;
    border-bottom: 2px solid $base-gray;
    text-transform: uppercase;
    background: $base-white;
    &::after {
      display: block;
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      top: 50%;
      right: 20px;
      margin-top: -15px;
      background: url('#{$img-path}/icon-no.svg');
      background-repeat: no-repeat;
      background-size: 100%;
    }
    &--included::after {
      width: 35px;
      height: 25px;
      margin-top: -12px;
      right: 10px;
      background: url('#{$img-path}/icon-yes.svg');
      background-repeat: no-repeat;
    }
  }
}

#price-1:checked ~ .prices__slider .slider__item:nth-child(1),
#price-2:checked ~ .prices__slider .slider__item:nth-child(2),
#price-3:checked ~ .prices__slider .slider__item:nth-child(3) {
    display: block;
}
