.slider {
  &__item {
    display: none;
  }
  &__heading {
    margin: 0;
    margin-bottom: 30px;
    color: $base-black;
    font-weight: $bold;
    line-height: $big-line-height;
    text-align: center;
  }
  &__text {
    font-size: $base-p-size;
    line-height: $big-line-height;
    text-align: center;
  }
}
