.social {
  width: 200px;
  margin: 40px auto;
  padding: 0;
  list-style: none;
  font-size: 0;
  @include tablet {
    margin: 0;
  }
  @include desktop {
    width: 180px;
  }
  &__item {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 15px;
    font-size: 0;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    display: block;
    width: 50px;
    height: 50px;
    border: 3px solid $base-gray;
    border-radius: 50%;
    &:hover {
      border: 3px solid $base-dark-blue;
      @include base-transition(border);
    }
    &:active {
      border: 3px solid $base-gray;
      opacity: 0.3;
    }
    &--tw {
      background: url('#{$img-path}/icon-twitter.svg');
      background-repeat: no-repeat;
      background-size: 45%;
      background-position: 55% 55%;
    }
    &--fb {
      background: url('#{$img-path}/icon-facebook.svg');
      background-repeat: no-repeat;
      background-size: 20%;
      background-position: 50% 50%;
    }
    &--you {
      background: url('#{$img-path}/icon-youtube.svg');
      background-repeat: no-repeat;
      background-size: 35%;
      background-position: 50% 50%;
    }
  }
}
