// Общие

@import 'normalize';
@import 'typography';
@import 'mixins';
@import 'variables';

@import 'header';
@import 'main-menu';
@import 'hamburger-menu';
@import 'logo';
@import 'welcome-section';
@import 'slider';
@import 'forms';
@import 'footer';

// Главная

@import 'apps';
@import 'benefits';
@import 'reviews';
@import 'prices';
@import 'map';
@import 'contacts';

// Внутренние страницы

@import 'photos';
@import 'photo-item';
@import 'like';
@import 'upload-form';
@import 'contest-section';
@import 'contest-form';
@import 'social';
@import 'pop-up';

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

body {
  min-width: $mobile-width;
}
