.upload {
  padding-top: 20px;
  background: $base-gray;
  @include tablet {
    padding: 60px 40px;
    padding-bottom: 38px;
  }
  @include desktop {
    width: 940px;
    margin: 0 auto;
    padding-top: 55px;
    padding-right: 60px;
    padding-left: 80px;
    padding-bottom: 55px;
  }
  & [type="radio"] {
    display: none;
  }
  &-form__range {
    display: none;
    @include tablet {
      display: block;
    }
  }
  .crop-check:checked ~ .upload-form__range-wrapper .upload-form__range--crop {
    display: block;
  }
  .fill-check:checked ~ .upload-form__range-wrapper .upload-form__range--fill {
    display: block;
  }
  .contrast-check:checked ~ .upload-form__range-wrapper .upload-form__range--contrast {
    display: block;
  }
}
