.welcome-section {
  width: 100%;
  padding: 200px 40px;
  position: relative;
  background: url('#{$img-path}/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
    @include tablet {
      padding: 200px 110px;
    }
    @include desktop {
      padding: 200px 230px;
    }
  &__heading {
    margin: 0;
    font-size: $base-h-size;
    line-height: $max-line-height;
    font-weight: $light;
    text-align: center;
    color: $base-white;
    @include tablet {
      font-size: 50px;
      line-height: 60px;
      font-weight: $light;
    }
    @include desktop {
      font-size: 50px;
      line-height: 60px;
      font-weight: $light;
    }
  }
  &-index::before {
    content: '';
    display: block;
    width: 260px;
    margin-left: -200px;
    height: 285px;
    position: absolute;
    bottom: 0;
    left: 50%;
    background: url('#{$img-path}/iphone-hand-mobile@1x.png');
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
