.welcome-section {
  width: 100%;
  padding-top: 395px;
  position: relative;
  background: $base-dark-blue;
  background-image: url('#{$img-path}/bg-back-mobile@1x.jpg');
  background-size: 700px;
  @include retina('#{$img-path}/bg-back-mobile@2x.jpg', 700px);
  background-repeat: no-repeat;
  background-position: 50% -33%;
  @include tablet {
    background-image: url('#{$img-path}/bg-back-tablet@1x.jpg');
    background-size: 1200px;
    background-position: 50% 100%;
    @include retina('#{$img-path}/bg-back-tablet@2x.jpg', cover);
    padding-top: 0;
  }
  @include desktop {
    background-image: url('#{$img-path}/bg-back-desktop@1x.jpg');
    background-size: cover;
    @include retina('#{$img-path}/bg-back-desktop@2x.jpg', cover);
  }
  &-index {
    @include tablet {
      min-height: 617px;
    }
    @include desktop {
      min-height: 854px;
    }
  }
  &__wrapper {
    margin: 0 auto;
    position: relative;
    @include tablet {
      max-width: 620px;
    }
    @include desktop {
      max-width: 940px;
    }
  }
  &__heading {
    margin: 0 auto;
    padding: 0 70px;
    font-size: $base-h-size;
    line-height: $max-line-height;
    font-weight: $light;
    text-align: center;
    color: $base-white;
    @include tablet {
      font-size: 50px;
      line-height: 60px;
      font-weight: $light;
    }
  }
  &-index::before {
    content: '';
    display: block;
    width: 260px;
    margin-left: -130px;
    height: 285px;
    position: absolute;
    bottom: 270px;
    left: 40%;
    background-image: url('#{$img-path}/iphone-hand-mobile@1x.png');
    background-size: 100% auto;
    @include retina('#{$img-path}/iphone-hand-mobile@2x.png', 100% auto);
    background-repeat: no-repeat;
    @include tablet {
      width: 700px;
      height: 545px;
      bottom: 0;
      right: 0;
      margin-left: -280px;
      background-image: url('#{$img-path}/iphone-hand-tablet@1x.png');
      background-size: 100% auto;
      @include retina('#{$img-path}/iphone-hand-tablet@2x.png', 100% auto);
    }
    @include desktop {
      width: 1050px;
      height: 645px;
      margin-left: -335px;
      background-image: url('#{$img-path}/iphone-hand-desktop@1x.png');
      background-size: 100% auto;
      @include retina('#{$img-path}/iphone-hand-desktop@2x.png', 100% auto);
    }
  }
  &-form,
  &-photo {
    padding-top: 30px;
    padding-bottom: 75px;
    background-position: 50% 25%;
    @include tablet {
      padding-top: 70px;
      padding-bottom: 138px;
    }
    @include desktop {
      padding-top: 170px;
      padding-bottom: 105px;
      background-size: 200%;
      background-position: 50% 0%;
    }
  }
  &-photo .welcome-section__heading {
    @include desktop {
      padding-left: 150px;
      padding-right: 150px;
    }
  }
}
